<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafeteria</title>
    <link rel="stylesheet" href="reset.css">
    <link rel="stylesheet" href="order.css">
</head>
<body>
    <h1 class="TodoPage-title">MENU</h1>
    <article class="TodoPageMain"> 
        <section class="TodoSection">
            <p class="TodoSection-title"> Dosa</p>
            <p class="TodoSection-title">Cake</p>
            <p class="TodoSection-title">Pizza</p>
        </section>
    </article>
</body>
</html>